body {
    font-family: Consolas;
    background-color: grey;
    overflow-y: hidden;
}   

/* Top navigation stylings */
.topnav {
    overflow: hidden;
    /* background-color: darkgray; */
    background-color: gainsboro;
    box-sizing: border-box;
    display: flex;
    padding: 22px;
    font-size: large;
    color: white;
    font-family: Consolas;
    border-radius: 20px;
    min-width: 700px;
    width: 100%;
    height: fit-content;
}

.eyecon {
    height: 90%;
    color: black;
}

.eyecon:hover {
    color: deepskyblue;
    animation-name: eyes;
    animation-duration: .1s;
}

@keyframes eyes {
    from {
        color: black;
    }
    to {
        color: deepskyblue;
    }
}


.right-menu{
    margin-left: auto;
}

.right-menu a {
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    color: grey;
}

.right-menu .active-menu-tab {
    color: deepskyblue;
    border-style: solid;
    border-color: grey;
    border-width: 0 0 4px 0;
}

.right-menu a:hover {
    animation-name: menuhover;
    animation-duration: .15s;
    border-width: 0px;
    border-style: solid;
    border-bottom-width: 4px;
    background-color: lightcyan;
    border-color: grey;
    color: deepskyblue;
}

@keyframes menuhover {
    from {
        background-color: white;
        border-width: 0px;
        border-radius: 20px;
    }
    to {
        border-style: solid;
        border-bottom-width: 4px;
        background-color: lightcyan;
        border-color: grey;
    }
}


/* Gridbox container and cell settings */
.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70% auto;
    height: 88vh;
    margin: 10px;
}

.cell-item {
    margin: 5px;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: gainsboro;
    border-radius: 10px;
}

/* Global button class settings */
.message-send {
    background-color: lightgray;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 4px;
    position: relative;
    float: right;
}

.message-send:hover {
    background-color: lightcyan;
    color:gray;
}

.message-send:active {
    background-color: aquamarine;
    color: grey;
}

/* Global chat text input class stylings */
.text-area {
    flex-grow: 1;
    min-width: 0;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.text-area:hover {
    background-color: lightcyan;
}

.text-area:focus{
    background-color: white;
    outline-style: solid;
    outline-width: 2px;
    outline-color: aquamarine;
}

/* Global upper chat view stylings */
.upper-text {
    width: 100%;
    height: calc(100% - 45px); 
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    padding-left: 5px;
}

/* Console cell specific item stylings */
#console {
    background-color: darkgrey;
    overflow: visible;
    grid-column: 1;
    grid-row: 1;
}

#upper-console-text {
    background-color: gray;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#console-anchor {
    height: 1px;
    background-color: lightcyan;
}

#console-form {
    display: flex;
    bottom: 0;
    height: auto;
    background-color: grey;
    padding: 5px;
    border-radius: 25px;
}

#console-input {
    flex-grow: 1;
}

.console-message {
    animation-name: consoleintro;
    animation-duration: .25s;
}

@keyframes consoleintro {
    from {
        background-color: white;
    }
    to {
        background-color: grey;
    }
}

/* Chat cell specific item stylings */
#chat {
    background-color: lightcyan;
    overflow: visible;
    grid-column: 3;
    grid-row: 1;
}

#upper-chat-text {
    background-color: white;
    color: black;
}

#chat-anchor {
    height: 1px;
    background-color: deepskyblue;
}

#chat-form {
    display: flex;
    bottom: 0;
    height: auto;
    background-color: gainsboro;
    padding: 5px;
    border-radius: 25px;
}

#chat-form input  {
    margin-left: 5px;
}

.chat-message:hover {
    background-color: lightcyan;
    color: skyblue ;
    cursor: alias;
}
.chat-pinned-message {
    position: absolute;
    background-color: lightcyan;
    border-radius: 10px;
    top: 110px;
    width: calc(33% - 85px);
    animation: pins;
    animation-duration: 1s;
    border: 1px;
    border-style: solid;
    border-color: deepskyblue;
    padding: 5px;
}

.chat-pinned-message:hover {
    text-decoration:line-through;
    color: skyblue;
}

@keyframes pins {
    from {
        background-color: rgba(245, 222, 179, 0);
        transform: translateY(100%);
    }
    to {
        background-color: lightcyan;
        transform: none;
    }
}

.chat-message {
    animation-name: chatintro;
    animation-duration:  .25s;
}

@keyframes chatintro {
    from {
        transform: translateX(100%);
        color: white;
        background-color: lightcyan;
    }
    to {
        position: auto;
        color: black;
    }
}

/* messages and highlights stylings */
#messages-and-highlights {
    background-color: darkgray;
    overflow: hidden;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 20% auto min-content;
    grid-auto-rows: min-content 1fr min-content;

}

#highlights {
    background-color: lightcyan;
    grid-column: 1;
    grid-row: 1;
    border-top-left-radius: 10px;
    /* border-width: 3px 0px 0px 3px;
    border-style: solid;
    border-color: gainsboro; */
    text-align: center;
    height: fit-content;
    padding: 7px;
}

/* Contacts list display */
#contacts {
    background-color: gainsboro;
    grid-column: 1;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    padding-top: 3px;
    overflow-y: auto;
    scrollbar-width: thin;
}

#contacts button {
    border: none;
    font-family: Consolas;
    font-size: medium;
    text-align: left;
}

#contacts button:hover {
    color: skyblue;
}

#contacts button:active {
    background-color: white;
    color: deepskyblue;
    text-decoration: underline;
}

.spawn-contact {
    height: fit-content;
    margin: 3px 5px 3px 5px;
    padding:  2px 5px 2px 7px;
    border-radius: 25px;
    background-color: lightcyan;
    animation-name: spawncontact;
    animation-duration: .2s;
}

.contact {
    height: fit-content;
    margin: 3px 5px 3px 5px;
    padding:  2px 5px 2px 7px;
    border-radius: 25px;
    background-color: lightcyan;
    animation-name: contacttononactive;
    animation-duration: .3s;
}

.active-contact {
    height: fit-content;
    margin: 3px 0px 3px 5px;
    padding:  2px 5px 2px 7px;
    border-radius: 25px 0px 0px 25px;
    background-color: white;
    color: deepskyblue;
    animation-name: contacttoactive;
    animation-duration: .3s;
}

@keyframes contacttoactive {
    from {
        margin: 3px 5px 3px 5px;
        border-radius: 25px;
    }
    to{
        margin: 3px 0px 3px 5px;
        border-radius: 25px 0px 0px 25px;
    }
}

@keyframes contacttononactive {
    from {
        margin: 3px 0px 3px 5px;
        border-radius: 25px 0px 0px 25px;
    }
    to {
        margin: 3px 5px 3px 5px;
        border-radius: 25px;
    }
}

@keyframes spawncontact {
    from{
        background-color: aquamarine;
    }
    to {
        background-color: lightcyan;
    }
}

/* Message area stylings */
#message-area {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
    /* border-bottom-right-radius: 10px; */
    overflow: hidden;
}

.message-area-messages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-area-lives {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
}

.live-message-chat {
    padding: 5px;
    max-width: 90%;
    overflow-wrap: anywhere;
    margin: 5px;
    border-style: solid;
    border-width: 2px 0px 0px 2px;
    border-color: grey;
}

.whisper-chat {
    padding: 5px;
    max-width: 75%;
    overflow-wrap: anywhere;
    margin: 5px;
    border-radius: 10px;
}

.external-chat {
    background-color: skyblue;
    align-self: start;
}

.self-chat {
    background-color: gainsboro;
    align-self: end;
}

/* Message tabs stylings */
#message-tabs {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    background-color: grey;
    border-top-right-radius: 10px;
    align-items:end;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: skyblue;
}

#message-current-contact {
    color: white;
    padding: 5px;
    flex-grow: 1;
}

.message-tab{
    padding: 5px;
    background-color: darkgray;
    border-color: grey;
    border-style: solid;
    border-bottom-width: 0;
    border-radius: 10px 10px 0px 0px;
    margin-right: 10px;
}

.active-message-tab{
    padding: 5px;
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-bottom-width: 0;
    border-radius: 10px 10px 0px 0px;
    margin-right: 10px;
}
/* Whiper message input stylings */
#whisper-form {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    bottom: 0;
    height: min-content;
    align-self: end;
    background-color: grey;
    padding: 5px;
    border-bottom-right-radius: 10px;
}


#bottom-tags {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 2;
    grid-template-columns: 50% auto;
    grid-template-rows: 100%;
}

#user-box {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 128px auto;
    grid-template-rows: 128px auto;
    background-color: darkgray;
}

#user-text{
    grid-column: 2;
    grid-row: 1;
    background-color: grey;
    color: white;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap:break-word;
}

#user-image {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
}

#stream-box {
    grid-column: 1;
    grid-row: 2;
}

#notable-box {
    grid-column: 3;
    grid-row: 2;
}
