<!DOCTYPE html>
<html>
    <head>
        <title>PanOptica</title>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'css/homepage.css')}}"> -->
        <link rel="stylesheet" href="../static/css/homepage.css">
    </head>
    <body>
        <div class="topnav">
            <a class="eyecon">👁 PanOptica</a>
            <div class="right-menu">
                <a>🏚 Home</a>                
                <a>🎞 Staging</a>
                <a>Moderation</a>
                <a>⚙ About</a>
            </div>
        </div>


        <div class="grid-container">
            
            <div class="cell-item" id="messages-and-highlights">
                <div id="highlights">Highlights</div>
                <div id="contacts">
                    <button class="active-contact">hi hi</button>
                    <button class="contact">hi hi</button>
                    <button class="contact">hi hi</button>
                </div>
                <div id="message-area">

                </div>
            </div>


            <div class="cell-item" id="console">
                <div class="upper-text" id="upper-console-text">
                    <div class="console-text" id="init-console">
                        <a class="console-message">Hello, world</a>
                    </div>
                    <div id="console-anchor"></div>
                </div>
                <div id="console-form">
                    <a style="color: white;">🖥></a>
                    <input type="text" class="text-area" id="console-input">
                    <input type="button" value="Send" class="message-send" id="console-send">
                </div>
            </div>

            <div class="cell-item" id="chat">
                <div class="upper-text" id="upper-chat-text">
                    <div class="chat-message" id="init-chat">
                        <a class="chatter-name">PanOptica: </a>
                        <a class="chatter-message">Hello, currently logged in uhh lets ckech to see how it wraps</a>
                    </div>
                    <div id="chat-anchor"></div>
                </div>
                <div id="chat-form">
                    <a >💬></a>
                    <input type="text" class="text-area" id="chat-input">
                    <input type="button" value="Send" class="message-send" id="chat-send">
                </div>

            </div>
        </div>
        

        <!-- Script for the entire page -->
        <!-- <script type = "text/javascript"
            src = "{{url_for('static', filename = 'js/homepage.js')}}">
        </script> -->
        <script src="../static/js/homepage.js"></script>
    </body>
</html>