<!DOCTYPE html>
<html>
    <head>
        <title>PanOptica</title>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'css/homepage.css')}}"> -->
        <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'css/staging_tab.css')}}"> -->
        <link rel="stylesheet" type="text/css" href="../static/css/homepage.css">
        <link rel="stylesheet" type="text/css" href="../static/css/staging_tab.css">
        <script src="../static/js/libraries/three.min.js"></script>
        <script src="../static/js/libraries/three.module.min.js"></script>
        
    </head>
    <body>
        <div class="topnav">
            <a class="eyecon">👁 PanOptica</a>
            <div class="right-menu" id="right-menu">
                <a onclick="open_page('Home')" class="active-menu-tab">Home</a>                
                <a onclick="open_page('Staging')">Staging</a>
                <a onclick="open_page('Moderation')">Moderation</a>
                <a onclick="open_page('About')">About</a>
            </div>
        </div>

        <div class="grid-container" id="Home">
            
            <div class="cell-item" id="messages-and-highlights">
                <div id="highlights">
                    <div>Messages</div>
                </div>
                <div id="contacts">
                    <button class="active-contact" onclick="open_message('Cool')">Cool</button>
                    <button class="spawn-contact" onclick="open_message('me')">me</button>
                    <button class="spawn-contact" onclick="open_message('applebees')">applebees</button>
                </div>
                <div id="message-area">
                    <div class="message-area-messages" id="Cool-mess" style="display: flex;">
                        <div class="whisper-chat self-chat">Hello dude, how have you been ive been pretty good, yea</div>
                        <div class="whisper-chat external-chat">Hello</div>
                    </div>
                    <div class="message-area-lives" id="Cool-live" style="display: none;">
                        <p class="live-message-chat">Hi</p>
                        <p class="live-message-chat">Hi</p>
                        <p class="live-message-chat">Hi</p>
                    </div>
                    <div class="message-area-messages" id="me-mess"  style="display: none;"v>
                        <div class="whisper-chat self-chat">Hello me, how have you been ive been pretty good, yea</div>
                        <div class="whisper-chat external-chat">Hello</div>
                    </div>
                    <div class="message-area-lives" id="me-live"  style="display: none;">
                    </div>
                    <div class="message-area-messages" id="applebees-mess"  style="display: none;">
                        <div class="whisper-chat self-chat">Hello apples, how have you been ive been pretty good, yea</div>
                        <div class="whisper-chat external-chat">Hello</div>
                    </div>
                    <div class="message-area-lives" id="applebees-live"  style="display: none;">
                    </div>
                </div>
                <div id="message-tabs">
                    <a id="message-current-contact">Cool</a>
                    <a class="message-tab" onclick="open_live('Cool')">Live Chat</a>
                    <a class="active-message-tab" onclick="open_message('Cool')">Whispers</a>
                </div>
                <div id="whisper-form">
                    <a style="color: white">Davix_Vulcan> </a>
                    <input type="text" class="text-area" id="whisper-input">
                    <input type="button" value="Send" class="message-send" id="whisper-send">
                </div>
            </div>


            <div class="cell-item" id="console">
                <div class="upper-text" id="upper-console-text">
                    <div class="console-text" id="init-console">
                        <a class="console-message">Hello, world</a>
                    </div>
                    <div id="console-anchor"></div>
                </div>
                <div id="console-form">
                    <a style="color: white;">🖥></a>
                    <input type="text" class="text-area" id="console-input">
                    <input type="button" value="Send" class="message-send" id="console-send">
                </div>
            </div>

            <div class="cell-item" id="chat">
                <div class="upper-text" id="upper-chat-text">
                    <div class="chat-message" id="init-chat">
                        <a class="chatter-name" style="color: red;">PanOptica: </a>
                        <a class="chatter-message">Hello, currently logged in uhh lets ckech to see how it wraps</a>
                    </div>
                    <div id="chat-anchor"></div>
                </div>
                <div id="chat-form">
                    <a >💬></a>
                    <input type="text" class="text-area" id="chat-input">
                    <input type="button" value="📢" class="message-send" id="chat-announce">
                    <input type="button" value="📌" class="message-send" id="chat-pin">
                    <input type="button" value="Send" class="message-send" id="chat-send">
                </div>

            </div>

            <div class="cell-item" id="user-box">
                <div id="user-image">image</div>
                <div id="user-text">text 
                </div>
                <div></div>
            </div>
            <div class="cell-item" id="stream-box"></div>
            <div class="cell-item" id="notables-box"></div>
        </div>

        <div class="staging-container" id="Staging" style = "display: none;">
            <p>staging</p>
            <canvas class="staging-canvas" id="main-canvas-staging"></canvas>
        </div>

        <div id="Moderation" style = "display: none;">
            <p>moderation</p>
        </div>

        <div id="About" style = "display: none;">
            <p>about</p>
        </div>

        <!-- Script for the entire page -->
        <!-- <script type = "text/javascript"
            src = "{{url_for('static', filename = 'js/homepage.js')}}">
        </script> -->
        <script src="../static/js/homepage.js"></script>
        <script src="../static/js/staging_tab.js"></script>
    </body>
</html>